<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title"><%= @page.model.name %> Class Diagram</h1><br>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to @page.project.name, project_path(@page.project.slug) %></li>
        <li><%= link_to @page.model.name, project_model_path(@page.project.slug, @page.model.slug) %></li>
        <li class="is-active"><a href="#" aria-current="page">Class Diagram</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row columns is-multiline" data-controller="mermaid">
  <pre data-mermaid-target="input" class="is-hidden">
    <%= @page.class_diagram %>
  </pre>

  <div data-mermaid-target="output">
  </div>
</div>
