<p style="color: green"><%= notice %></p>

<h1>Models</h1>

<%= link_to "Back", @project %> |
<%= link_to "New model", new_project_model_path(@project) %>

<div id="projects">
  <% @models.each do |model| %>
    <%= render model %>
    <p>
      <%= link_to "Show this model", project_model_path(@project, model) %>
    </p>
  <% end %>
</div>
