<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back", plan_models_path(@plan) %> |
  <%= link_to "Class Diagram", plan_model_class_diagram_path(@plan, @model) %> |
  <%= link_to "New attribute", new_plan_model_attribute_path(@plan, @model) %> |
  <%= link_to "New association", new_plan_model_association_path(@plan, @model) %>

  <%= button_to "Destroy this model", plan_model_path(@plan, @model), method: :delete %>
</div>

<%= render @model %>

<div id="model-associations">
  <% @model.associations.each do |association| %>
    <%= render association %>
    <p>
      <%= button_to "Destroy this association", plan_model_association_path(@plan, @model, association), method: :delete %>
    </p>
  <% end %>
</div>

<div id="model-attributes">
  <% @model.attributes.each do |attribute| %>
    <%= render attribute %>
    <p>
      <%= button_to "Destroy this attribute", plan_model_attribute_path(@plan, @model, attribute), method: :delete %>
    </p>
  <% end %>
</div>
