<p style="color: green"><%= notice %></p>

<%= render "ui/components/breadcrumbs",
    breadcrumbs: models_breadcrumbs(page_code: :show, project: @project),
    current_page_name: @model.name %>

<%= render "ui/elements/title", title: @model.name %>

<%= render "ui/components/actions", links: [
    link_to("Class diagram", project_model_class_diagram_path(@project, @model)),
    link_to("Delete", project_model_path(@project, @model), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" })
] %>

<div class="block">
  <%= render @model %>
</div>

<%= render "ui/elements/subtitle", subtitle: "Associations" %>

<%= render "ui/components/actions", links: [
    link_to("New", new_project_model_association_path(@project, @model)),
] %>

<%= render "ui/components/simple_delete_cards_list", values: model_associations_simple_delete_card_values(@project, @model, @model.associations) %>

<%= render "ui/elements/subtitle", subtitle: "Attributes" %>

<%= render "ui/components/actions", links: [
    link_to("New", new_project_model_attribute_path(@project, @model)),
] %>

<%= render "ui/components/simple_delete_cards_list", values: model_attributes_simple_delete_card_values(@project, @model, @model.attributes) %>
