<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back", project_models_path(@project) %> |
  <%= link_to "Class Diagram", project_model_class_diagram_path(@project, @model) %> |
  <%= link_to "New attribute", new_project_model_attribute_path(@project, @model) %> |
  <%= link_to "New association", new_project_model_association_path(@project, @model) %>

  <%= button_to "Destroy this model", project_model_path(@project, @model), method: :delete %>
</div>

<%= render @model %>

<div id="model-associations">
  <% @model.associations.each do |association| %>
    <%= render association %>
    <p>
      <%= button_to "Destroy this association", project_model_association_path(@project, @model, association), method: :delete %>
    </p>
  <% end %>
</div>

<div id="model-attributes">
  <% @model.attributes.each do |attribute| %>
    <%= render attribute %>
    <p>
      <%= button_to "Destroy this attribute", project_model_attribute_path(@project, @model, attribute), method: :delete %>
    </p>
  <% end %>
</div>
