<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Entrypoint", root_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, @project %></li>
    <li><%= link_to @model.name, project_model_path(@project, @model) %></li>
    <li class="is-active"><a href="#" aria-current="page">New association</a></li>
  </ul>
</nav>

<h1 class="title">New association</h1>

<%= render "form", association: @association %>
