<p style="color: green"><%= notice %></p>

<%= render "ui/components/breadcrumbs",
    breadcrumbs: attribute_types_breadcrumbs(page_code: :show),
    current_page_name: @attribute_type.name %>

<%= render "ui/elements/title", title: @attribute_type.name %>

<%= render "ui/components/actions", links: [
    link_to("Edit", edit_attribute_type_path(@attribute_type)),
    link_to("Delete", @attribute_type, data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"})
] %>

<%= render @attribute_type %>
