<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back", plans_path %> |
  <%= link_to "Models", plan_models_path(@plan) %> |
  <%= link_to "Edit this plan", edit_plan_path(@plan) %> |
  <%= link_to "Class Diagram", plan_class_diagram_path(@plan) %> |

  <%= button_to "Archive this plan", plan_archive_path(@plan), method: :put %>
</div>

<%= render @plan %>
