<%= form_with scope: :model_attribute, url: project_model_model_attribute_path do |form| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: "input", placeholder: "Name", autofocus: true %>
    </div>
  </div>

  <div class="field">
    <label class="label">Kind</label>
    <div class="control">
      <%= form.select :kind, [["String", "MODEL_ATTRIBUTE_KIND_STRING"], ["Integer", "MODEL_ATTRIBUTE_KIND_INTEGER"], ["Boolean", "MODEL_ATTRIBUTE_KIND_BOOLEAN"]], selected: "String" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= form.text_field :description, class: "input", placeholder: "Description" %>
    </div>
  </div>

  <div class="field is-grouped mt-5">
    <div class="control">
      <%= form.button class: "button is-link is-inverted" %>
    </div>
  </div>
<% end %>
