<tr>
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= project_create_time(project.create_time) %></td>
  <td>
    <%= link_to 'Recover', archived_project_path(project.id, project: {recover: true}), data: {"turbo-method": :put} %> | <%= link_to 'Delete', project_path(project.id), data: {"turbo-method": :delete} %>
  </td>
</tr>
