<p style="color: green"><%= notice %></p>

<%= render "ui/components/breadcrumbs",
    breadcrumbs: archived_projects_breadcrumbs(page_code: :show),
    current_page_name: @project.name %>

<%= render "ui/elements/title", title: @project.name %>

<%= render "ui/components/actions", links: [
    link_to("Restore", project_restore_path(@project), data: { "turbo-method": :put }),
    link_to("Delete", archived_project_path(@project), data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"}),
] %>

<div class="block">
  <%= render @project %>
</div>
