<%= form_with(model: attribute, url: project_model_attributes_path(@project, @model)) do |form| %>
  <% if attribute.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% attribute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, autofocus: true, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :kind, class: "label" %>

    <div class="select">
      <%= form.select :kind, [["String", "string"], ["Integer", "integer"], ["Boolean", "boolean"]], selected: "string" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: "textarea" %>
  </div>

  <div>
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>
