<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label", autofocus: true %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <% if !project.persisted? %>
    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, class: "textarea" %>
    </div>
  <% end %>

  <div>
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>
