<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title"><%= @page.project.name %></h1><br>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= @page.project.name %></a></li>
      </ul>
    </nav>
  </div>
</div>

<%= render "models", models: @page.models, project: @page.project %>
