<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back", projects_path %> |
  <%= link_to "Models", project_models_path(@project) %> |
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Class Diagram", project_class_diagram_path(@project) %> |

  <%= button_to "Archive this project", project_archive_path(@project), method: :put %>
</div>

<%= render @project %>
